* Overview: Purpose of this notebook is to analyze the sample data downloaded from the Subsalt portal and to understand the data structure and the features. There are some findings being shared in this notebook.

In [1]:
# load json file into pandas dataframe
import pandas as pd
import json
import warnings

warnings.filterwarnings("ignore")

json_data = open("../data/sample_data_1122.json").read()
data = json.loads(json_data)
df = pd.DataFrame(data)
df.head()

,metadata,schema,genconfig,privacy,quality
0,"{'runtime_end': '2024-11-12T08:47:19.855989', ...","[{'name': 'agency_abbr', 'type': 'string', 'sy...","{'type': 'SubsaltTVAE', 'epochs': '100', 'lear...","[{'name': 'Minimum row count', 'threshold': 30...",[]
1,"{'runtime_end': '2024-11-12T08:47:24.279947', ...","[{'name': 'year', 'type': 'integer', 'synthesi...","{'type': 'SubsaltTVAE', 'epochs': '100', 'lear...",[{'name': 'Check distance distributions betwee...,[]
2,"{'runtime_end': '2024-11-12T08:47:35.348316', ...","[{'name': 'agency_abbr', 'type': 'string', 'sy...","{'type': 'SubsaltTVAE', 'epochs': '100', 'lear...","[{'name': 'Minimum row count', 'threshold': 30...",[]
3,"{'runtime_end': '2024-11-12T08:47:48.605414', ...","[{'name': 'year', 'type': 'integer', 'synthesi...","{'type': 'SubsaltCopulaGAN', 'epochs': '100', ...","[{'name': 'Minimum row count', 'threshold': 30...",[]
4,"{'runtime_end': '2024-11-12T08:47:57.323314', ...","[{'name': 'agency_abbr', 'type': 'string', 'sy...","{'type': 'SubsaltCopulaGAN', 'epochs': '100', ...","[{'name': 'Minimum row count', 'threshold': 30...",[]

In [2]:
# expand column of dictionaries into separate columns
df = pd.concat(
    [df.drop(["genconfig"], axis=1), df["genconfig"].apply(pd.Series)], axis=1
)
df.shape

(92, 8)

In [3]:
df.head()

,metadata,schema,privacy,quality,type,epochs,learning_rate,batch_size
0,"{'runtime_end': '2024-11-12T08:47:19.855989', ...","[{'name': 'agency_abbr', 'type': 'string', 'sy...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltTVAE,100,0.0002,50000
1,"{'runtime_end': '2024-11-12T08:47:24.279947', ...","[{'name': 'year', 'type': 'integer', 'synthesi...",[{'name': 'Check distance distributions betwee...,[],SubsaltTVAE,100,0.0002,50000
2,"{'runtime_end': '2024-11-12T08:47:35.348316', ...","[{'name': 'agency_abbr', 'type': 'string', 'sy...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltTVAE,100,0.0002,50000
3,"{'runtime_end': '2024-11-12T08:47:48.605414', ...","[{'name': 'year', 'type': 'integer', 'synthesi...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltCopulaGAN,100,0.0002,50000
4,"{'runtime_end': '2024-11-12T08:47:57.323314', ...","[{'name': 'agency_abbr', 'type': 'string', 'sy...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltCopulaGAN,100,0.0002,50000

In [4]:
# get the runtime_end from metadata
df["runtime_end"] = pd.to_datetime(df["metadata"].apply(lambda x: x["runtime_end"]))
df["runtime_end"]

0    2024-11-12 08:47:19.855989
1    2024-11-12 08:47:24.279947
2    2024-11-12 08:47:35.348316
3    2024-11-12 08:47:48.605414
4    2024-11-12 08:47:57.323314
                ...
87   2024-11-22 16:58:30.375183
88   2024-11-22 16:58:39.481498
89   2024-11-22 16:58:43.765340
90   2024-11-22 16:58:59.688683
91   2024-11-22 16:59:20.561687
Name: runtime_end, Length: 92, dtype: datetime64[ns]

In [5]:
df = pd.concat([df.drop(["metadata"], axis=1), df["metadata"].apply(pd.Series)], axis=1)
df.head()

,schema,privacy,quality,type,epochs,learning_rate,batch_size,runtime_end,runtime_end,row_count,product_version,table_names
0,"[{'name': 'agency_abbr', 'type': 'string', 'sy...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltTVAE,100,0.0002,50000,2024-11-12 08:47:19.855989,2024-11-12T08:47:19.855989,25000,v0.26.11,applications
1,"[{'name': 'year', 'type': 'integer', 'synthesi...",[{'name': 'Check distance distributions betwee...,[],SubsaltTVAE,100,0.0002,50000,2024-11-12 08:47:24.279947,2024-11-12T08:47:24.279947,5000,v0.26.11,credit_card_sample
2,"[{'name': 'agency_abbr', 'type': 'string', 'sy...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltTVAE,100,0.0002,50000,2024-11-12 08:47:35.348316,2024-11-12T08:47:35.348316,25000,v0.26.11,applications
3,"[{'name': 'year', 'type': 'integer', 'synthesi...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltCopulaGAN,100,0.0002,50000,2024-11-12 08:47:48.605414,2024-11-12T08:47:48.605414,5000,v0.26.11,credit_card_sample
4,"[{'name': 'agency_abbr', 'type': 'string', 'sy...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltCopulaGAN,100,0.0002,50000,2024-11-12 08:47:57.323314,2024-11-12T08:47:57.323314,25000,v0.26.11,applications

In [6]:
# concantenate all df["schema"] into a single dataframe
df_schema = pd.concat([pd.DataFrame(df["schema"][i]) for i in range(len(df["schema"]))])
df_schema.sample(10)

,name,type,synthesize_as,indirect_identifier,direct_identifier,null_ratio,unique_values,min_value,max_value
6,synthea_test_encounters_PAYER,string,categorical,True,False,NaN,10.0,NaN,NaN
6,test_db_healthcare_dataset_HeartRate,integer,int,False,False,NaN,41.0,60.00,100.00
14,mids_indicators_MentHlth,float,float,True,False,NaN,31.0,0.00,30.00
11,student_performance_StudentPerformanceFactors_...,string,categorical,True,False,NaN,4.0,NaN,NaN
3,synthea_test_encounters_BASE_ENCOUNTER_COST,float,categorical,False,False,NaN,2.0,77.49,129.16
0,test_db_healthcare_dataset_A1C,float,float,True,False,NaN,101.0,4.00,14.00
6,credit_swipes_credit_card_sample_birth_year,integer,int,False,False,NaN,79.0,1918.00,2002.00
6,RACE,string,categorical,True,False,0.0,5.0,NaN,NaN
3,mids_indicators_CholCheck,float,categorical,False,False,NaN,2.0,0.00,1.00
1,loan_type_name,string,categorical,False,False,0.0,4.0,NaN,NaN

In [7]:
df_schema.describe()

       null_ratio  unique_values     min_value     max_value
count  627.000000    1211.000000    587.000000  5.870000e+02
mean     0.008544    1699.806771    979.577768  5.943444e+04
std      0.047262   15440.582461   5425.963893  2.172915e+05
min      0.000000       2.000000   -100.000000  1.000000e+00
25%      0.000000       4.000000      0.990000  1.400000e+01
50%      0.000000      10.000000      4.000000  1.000000e+02
75%      0.000000     151.000000     70.000000  1.372725e+03
max      0.328899  218133.000000  37900.000000  1.490400e+06

In [8]:
df_schema.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1303 entries, 0 to 9
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 1303 non-null   object
 1   type                 1303 non-null   object
 2   synthesize_as        1211 non-null   object
 3   indirect_identifier  1303 non-null   bool
 4   direct_identifier    1303 non-null   bool
 5   null_ratio           627 non-null    float64
 6   unique_values        1211 non-null   float64
 7   min_value            587 non-null    float64
 8   max_value            587 non-null    float64
dtypes: bool(2), float64(4), object(3)
memory usage: 84.0+ KB

In [9]:
df_schema["synthesize_as"].value_counts()

synthesize_as
categorical    609
int            315
float          137
binary          96
datetime        54
Name: count, dtype: int64

In [10]:
# check the NaN values ratio
df_schema.isnull().sum() / len(df_schema)

name                   0.000000
type                   0.000000
synthesize_as          0.070606
indirect_identifier    0.000000
direct_identifier      0.000000
null_ratio             0.518803
unique_values          0.070606
min_value              0.549501
max_value              0.549501
dtype: float64

In [11]:
# concantenate all df["privacy"] into a single dataframe
df_privacy = pd.concat(
    [pd.DataFrame(df["privacy"][i]) for i in range(len(df["privacy"]))]
)
df_privacy

,name,threshold,score,passed
0,Minimum row count,3000.00,25000.000000,True
1,Check distance distributions between real and ...,0.05,0.195684,True
2,Membership inference,0.55,0.467075,True
3,Risky row counts,237.50,1.000000,True
4,Row memorization,0.05,0.000000,True
...,...,...,...,...
2,Membership inference,0.55,0.503396,True
3,Risky row counts,123.12,0.000000,True
4,Row memorization,0.05,0.000000,True
5,No new categorical values,0.00,0.000000,True
6,Attribute inference,0.10,0.000081,True

In [12]:
df_privacy["name"].unique()

array(['Minimum row count',
       'Check distance distributions between real and synthetic',
       'Membership inference', 'Risky row counts', 'Row memorization',
       'Attribute inference', 'No new categorical values'], dtype=object)

In [13]:
df_privacy[df_privacy["passed"] == False].value_counts()

Series([], Name: count, dtype: int64)

* We are now looking into three tests: `Risky row counts`, `Check distance distributions between real and synthetic`, `Row memorization`. These tests failed in the first sample dataset.

In [14]:
df_privacy[df_privacy["name"] == "Row memorization"].value_counts()

name              threshold  score     passed
Row memorization  0.05       0.000000  True      89
                             0.001221  True       1
                             0.001347  True       1
                             0.011958  True       1
Name: count, dtype: int64

In [15]:
df.shape

(92, 12)

In [16]:
df_privacy[
    df_privacy["name"] == "Check distance distributions between real and synthetic"
].value_counts()

name                                                     threshold  score     passed
Check distance distributions between real and synthetic  0.05       0.068371  True      1
                                                                    0.543306  True      1
                                                                    0.589820  True      1
                                                                    0.585604  True      1
                                                                    0.575368  True      1
                                                                                       ..
                                                                    0.386504  True      1
                                                                    0.386403  True      1
                                                                    0.376990  True      1
                                                                    0.376710  True      1
                                                                    0.776618  True      1
Name: count, Length: 92, dtype: int64

In [17]:
df_privacy[df_privacy["name"] == "Risky row counts"].value_counts()

name              threshold  score  passed
Risky row counts  123.12     0.0    True      15
                  47.50      0.0    True      12
                  62.76      0.0    True       9
                  237.50     0.0    True       8
                  4001.79    0.0    True       6
                  82.84      0.0    True       6
                  4001.78    0.0    True       3
                  196.23     0.0    True       3
                  4001.62    0.0    True       3
                  237.50     2.0    True       3
                  850.00     0.0    True       3
                  451.70     0.0    True       3
                  123.12     4.0    True       2
                  237.50     6.0    True       2
                  142.49     0.0    True       2
                  463.99     1.0    True       1
                  1775.76    110.0  True       1
                             17.0   True       1
                  463.99     3.0    True       1
                  237.50     30.0   True       1
                  463.99     0.0    True       1
                  237.50     28.0   True       1
                             3.0    True       1
                             1.0    True       1
                  123.12     1.0    True       1
                  142.49     2.0    True       1
                  237.50     4.0    True       1
Name: count, dtype: int64

In [18]:
df_privacy[df_privacy["name"] == "Row memorization"]["threshold"].value_counts()

threshold
0.05    92
Name: count, dtype: int64

In [19]:
df_privacy[
    df_privacy["name"] == "Check distance distributions between real and synthetic"
]["threshold"].value_counts()

threshold
0.05    92
Name: count, dtype: int64

In [20]:
df_privacy[df_privacy["name"] == "Risky row counts"]["threshold"].value_counts()

threshold
237.50     18
123.12     18
47.50      12
62.76       9
4001.79     6
82.84       6
4001.78     3
4001.62     3
463.99      3
142.49      3
451.70      3
196.23      3
850.00      3
1775.76     2
Name: count, dtype: int64

In [21]:
risky_row_counts_threshold = df_privacy[df_privacy["name"] == "Risky row counts"][
    "threshold"
].reset_index(drop=True)

In [22]:
risky_row_counts_threshold

0     237.50
1      47.50
2     237.50
3      47.50
4     237.50
       ...
87    123.12
88    123.12
89    123.12
90    123.12
91    123.12
Name: threshold, Length: 92, dtype: float64

In [23]:
row_count = df["row_count"]
row_count

0     25000
1      5000
2     25000
3      5000
4     25000
      ...
87    12960
88    12960
89    12960
90    12960
91    12960
Name: row_count, Length: 92, dtype: int64

In [24]:
(risky_row_counts_threshold / row_count).value_counts()

0.009500    54
0.009499     9
0.004002     6
0.004002     3
0.004002     3
0.009500     3
0.009500     3
0.009000     3
0.009500     3
0.008500     3
0.007000     2
Name: count, dtype: int64

In [25]:
# check if row memorization score is always smaller than threshold
(
    df_privacy[df_privacy["name"] == "Row memorization"]["score"]
    > df_privacy[df_privacy["name"] == "Row memorization"]["threshold"]
).value_counts()

False    92
Name: count, dtype: int64

In [26]:
(
    df_privacy[
        df_privacy["name"] == "Check distance distributions between real and synthetic"
    ]["score"]
    > df_privacy[
        df_privacy["name"] == "Check distance distributions between real and synthetic"
    ]["threshold"]
).value_counts()

True    92
Name: count, dtype: int64

In [27]:
(
    df_privacy[df_privacy["name"] == "Risky row counts"]["score"]
    > df_privacy[df_privacy["name"] == "Risky row counts"]["threshold"]
).value_counts()

False    92
Name: count, dtype: int64

In [28]:
df_privacy[df_privacy["name"] == "Membership inference"].value_counts()

name                  threshold  score     passed
Membership inference  0.55       0.500000  True      5
                                 0.350877  True      1
                                 0.501480  True      1
                                 0.503752  True      1
                                 0.503673  True      1
                                                    ..
                                 0.485427  True      1
                                 0.484503  True      1
                                 0.483821  True      1
                                 0.478304  True      1
                                 0.549408  True      1
Name: count, Length: 88, dtype: int64

In [29]:
df_privacy[df_privacy["name"] == "Attribute inference"].value_counts()

name                 threshold  score     passed
Attribute inference  0.1        0.000000  True      60
                                0.000042  True       7
                                0.000211  True       6
                                0.000081  True       4
                                0.000022  True       3
                                0.000070  True       3
                                0.000006  True       2
                                0.000084  True       2
                                0.000162  True       2
                                0.000051  True       1
                                0.000121  True       1
                                0.000241  True       1
Name: count, dtype: int64

In [30]:
df_privacy[df_privacy["name"] == "Minimum row coun"].value_counts()

Series([], Name: count, dtype: int64)

In [31]:
df_privacy[df_privacy["name"] == "No new categorical values"].value_counts()

name                       threshold  score  passed
No new categorical values  0.0        0.0    True      92
Name: count, dtype: int64